<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/stylesheets/markdown-style.css">
    <script src="/javascripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>

<header>
    <div class="header-container verticalcenter">
        <a href="/" class="cnode-logo">
            <h2>DJTU大学生论坛</h2>
        </a>
        <a href="javascript:;" class="navbar-toggle" id="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <ul class="nav" id="nav">
            <li><a href="/">首页</a></li>
            <li><a href="">关于</a></li>
            <% if(!user){ %>
            <li><a href="/signup">注册</a></li>
            <li><a href="/signin">登录</a></li>
            <% } else { %>
            <li><a href="/topic/create">发帖</a></li>
            <li><a href="/signout">登出</a></li>
            <% } %>
        </ul>
    </div>
</header>
