<% include header.ejs %>
<div class="main signup">
    <div class="top-color"></div>
    <div class="signup-container">

        <% include notification.ejs%>
        <!--这里multer和csurf中间件一起使用时验证时候会出现问题，把action写成这种形式可以暂时解决-->
        <!--详见 https://github.com/expressjs/csurf/issues/58 -->
        <form method="post" action="/signup?_csrf=<%= csrf%>" class="signup-form" enctype="multipart/form-data">
            <div class="field">
                <span class="label">用户名</span>
                <input type="text" id="name" name="name" placeholder="用户名">
            </div>
            <div class="field">
                <span class="label sexpc sexmobile">性别</span>
              <!--  <input type="text" id="sex" name="sex" placeholder="帅锅or美铝">-->
                <select name="sex">
                    <option value="帅锅" selected>帅锅</option>
                    <option value="美铝">美铝</option>
                </select>
            </div>

            <div class="field">
                <span class="label">院系年级</span>
                <input type="text" id="grade" name="grade" placeholder="例如：理学院数学系大四">
            </div>
            <div class="field">
                <span class="label">电子邮箱</span>
                <input type="text" id="mail" name="mail" placeholder="例如：******@163.com">
            </div>
            <div class="field">
                <span class="label">密码</span>
                <input type="password" id="password" name="password" placeholder="密码">
            </div>
            <div class="field">
                <span class="label">重复密码</span>
                <input type="password" id="repassword" name="repassword" placeholder="重复密码">
            </div>
            <div class="field">
                <span class="label">上传头像</span>
                <input type="file" name="avatar" placeholder="选择头像">
            </div>
            <div class="field">
                <button type="submit" class="button-default">注册</button>
            </div>
        </form>
    </div>
</div>

<% include footer.ejs %>